@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0c0c0c] text-white;
    font-family: 'Pretendard', sans-serif;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, #D4AF37, #10b981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
